:root {
    --verde_grigio: #186049;
    --verde_chiaro: #e4d5c7;
}

nav {
    background-color: var(--verde_grigio);
}
footer {
    background-color: var(--verde_grigio);
}
body {
    background-color: var(--verde_chiaro) ;
}
.zona-revisore-custom{
    list-style-type: none;
    text-decoration: none;
}

.navbar .dropdown-menu {
    padding: 0;
}

.navbar .dropdown-item {
    padding: 1rem 1rem;
}

.p-custom-title-presto{
    text-align: center;
}

.p-custom-logged-presto{
    text-align: center;

}
