:root {
    --verde_grigio: #186049;
    --verde_chiaro: #D2B39B;
}

nav{
    background-color: var(--verde_grigio);
    border-bottom: 1px solid black;
}

.dropdown-item{
    color: black !important;
}

.nav-link, .navbar-brand{
    color: white !important;
}

.nav-link-custom{
    text-decoration: none;
    color: black;
}

footer {
    background-color: var(--verde_grigio);
}
body {
    background-color: var(--verde_chiaro) ;
}
.zona-revisore-custom{
    list-style-type: none;
    text-decoration: none;
}

.navbar .dropdown-menu {
    padding: 0;
}

.navbar .dropdown-item {
    padding: 1rem 1rem;
}

.p-custom-title-presto{
    padding-left: 130px;
}

.p-custom-logged-presto{
    padding-left: 270px;
}

.bg-custom-categorie{
    background-color: var(--verde_grigio);
}

.zona-revisore-custom {
    margin-left: 10px; /* Aggiungi spazio a sinistra per separare dalla sezione precedente */
}

/* Stile per le bandiere di lingua */
.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}
