@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.h1-homepage{
    font-size: 70px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  
.sottotitolo-homepage{
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}

/* font navbar */
nav{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;   
}

*{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic; 
    color: var(--verde_grigio);
}

.testo-bottone-homepage{
    font-size: 24px;
}

.color-categoria-card{
    color: var(--verde_grigio) ;
}