

/* bottone costumizzato */
.button-custom {

    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #247158, #6ab29b);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;

    padding: 0.6em 1.5em;

}

 /* header */
  .animated-text-from-right {
      position: relative;
      right: -100%;
      animation: slideFromRightToCenter 3s forwards;
    }

    .animated-text-from-left {
      position: relative;
      left: -100%;
      animation: slideFromLeftToCenter 3s forwards;
    }

    @keyframes slideFromRightToCenter {
      0% {
        right: -100%;
        overflow-x: hidden;
        overflow-y: hidden;
      }
      100% {
        right: 0;
        overflow-x: hidden;
        overflow-y: hidden;
      }
    }

    @keyframes slideFromLeftToCenter {
      0% {
        left: -100%;
        overflow-x: hidden;
        overflow-y: hidden;
      }
      100% {
        left: 0;
        overflow-x: hidden;
        overflow-y: hidden;
      }
    }

    .overflow-custom{
      overflow-x: hidden;
    }
/* fine header */

/* immagine header */
.img-header {
  position: relative;
  overflow: hidden;
}

.img-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/img/cover2.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}



/* fine immagine header */

/* modifiche card  */
.card-container {
  position: relative;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  z-index: 1;
}

.card-img-top {
  border-radius: 13%;
}

.h-index-custom{
  height: 100vh;
}

.h-index-custom-revisor{
  height: 100vh;
}

.h-index-custom{
  height: 100vh;
}

.h-index-custom-revisor{
  height: 100vh;
}


/* img-preview-custom anteprima immagini inserimento annunci */
.img-preview-custom{
  width: 180px;
  height: 150px;
  background-size: cover;
  background-position: center;
}